@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

:root {
    --fonte-titulo: 'Tagesschrift', sans-serif;
    --fonte-frase: 'Bebas Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #27231d;
}

.background{
    width: 1050px;
    margin-top: 10px;
    z-index: -2;
    opacity: 0.5;
}

.carta_fada{
    transform: rotate(-5deg);
}

.fundo_carta {
    transform: rotate(5deg);
}

.cartas_principais{
    margin-top: -500px;
    margin-left: 180px;
}

h1{
    color: #aea294;
    font-family: var(--fonte-titulo);
    position: absolute;
    top: 130px;
    left: 71%;
    font-size: 50px;
}

h2{
    color: #aea294;
    font-family: var(--fonte-titulo);
    position: absolute;
    top: 180px;
    left: 81%;
    font-size: 50px;
}

.destaque{
    color:white;
}

.texto{
    width: 490px;
    height: 540px;
    border-radius: 20px;
    background-color: #2d2824;
    z-index: -1;

    font-size: 15px;
    text-align: center;
    color: #aea294;
    font-family: var(--fonte-frase);
    margin-left: 65%;
    position: absolute;
    top: 140px;
}

.textinho{
    margin-top: 200px;
}

a{
    color: #aea294;
    text-decoration: none;
}

.main{
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    
}
img{
    width: 70px;
    height:100px;

}

.swiper{
    height: 100px;
    width: 200px;
    margin-top: 39%;
    position: relative;
    left: 429px;
}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogar{
    font-family: var(--fonte-titulo);
    font-size: 25px;
    position: fixed;
    top: 4%;
    left: 3%;
}

.inicio{
    font-family: var(--fonte-titulo);
    font-size: 25px;
    position: fixed;
    top: 4.2%;
    left: 9.8%;
}